.box{
margin:auto;
background-color: lightgrey;
margin: auto;
margin-top: 10px;
padding:20px;
padding-bottom: 25px;
border-radius: 15px;
/* display: flex; 
justify-content: center; 
align-items: center; */
}

.forgotPassword{
display:flex;
  padding-top: -20px;
  padding-right: -20px;
  padding-bottom: 20px;
  padding-left: 20px;

}

.Heading{
    margin:15px;
    padding:10px;

}

.newBox{
    padding-top:10px;
    margin-top: 4px;
    border:1px solid black;
    border-radius: 4px;
}

.blogLink{
 color: inherit; 
 text-decoration: none;
}

.blogLink:hover {
  color:#00A0C6; 
  text-decoration:none; 
  cursor:pointer;  
}

.blogContainer{
  border: 1px solid red;
  margin:10px;
}

.blogHeading{
  border: 1px solid blue;
  margin: 8px;
}

.blogAuthor{
  border: 1px solid green;
  margin-right: 5px;
  padding: 3px;
}

.blogOverview{
  border: 1px solid yellow;
  margin: 10px;
}

.blogImage{
  height:300px;
  width: 500px;
  background-color: aqua;
  margin: auto;
}

.postcard{
  display:flex;
  flex-direction: row;
  width: 340px;
  margin:20px;
  
}

.postcardImage{
height:230px;
width:280px;
margin:auto;
padding:auto;
background-color: aqua;

}

.socialLinks{
  display:flex;
  flex-direction:row;
  flex:1;
  margin:auto;
  padding:auto;
}