
body {
  background-image: url("../src/assets/Background.jpg");
 } 
 

.box{
margin:auto;
background-color: lightgrey;
margin: auto;
margin-top: 10px;
padding:20px;
padding-bottom: 25px;
border-radius: 15px;
/* display: flex; 
justify-content: center; 
align-items: center; */
}


.forgotPassword{
display:flex;
  padding-top: -20px;
  padding-right: -20px;
  padding-bottom: 20px;
  padding-left: 20px;

}

.Heading{
    background-color: white;

}

.newBox{
    padding-top:10px;
    margin-top: 4px;
    border:1px solid black;
    background-color: rgb(231, 231, 228);
    border-radius: 4px;
}

.blogLink{
 color: inherit; 
 text-decoration: none;
}

.blogLink:hover {
  color:#00A0C6; 
  text-decoration:none; 
  cursor:pointer;  
}

.blogContainer{
  margin:10px;
}

.blogHeading{
  margin: 8px;
}

.blogAuthor{
  margin-right: 5px;
  padding: 3px;
}

.blogOverview{
  margin: 10px;
}

.blogImage{
  height:300px;
  width: 500px;
  background-color: aqua;
  margin: auto;
}

.postcard{
  display:flex;
  flex-direction: row;
  width: 340px;
  margin:auto;
  
}

.postcardImage{
height:175px;
width:280px;
margin:auto;
margin-top: 10px;
padding:auto;
}

.paradiv{
  height:145px;
width:280px;
margin:auto;
margin-top: 10px;
padding:auto;
text-overflow: ellipsis;
overflow: hidden;
}


.socialLinksBlogPage{
  display:flex;
  flex-direction:row;
  flex:1;
  margin:auto;
  padding:auto;
}
.socialLinksBlogPage a{
  color:blue;
  font-size: 20px;
    text-decoration:none;
    margin:auto;
 text-align:center;
}

.blogLists {
  list-style-type: none;
  position: relative;
  margin:auto;
  display: inline-block;
  padding:0 5px;
}

.blogListItem {
  float:left;
  position: relative;
  margin:5px auto;
  justify-content: space-between;
}

.HeadButton{
  position:absolute;
  right:50px;
  height:50px;
}
.addButton:hover{
  background-color:rgb(26, 77, 241)
}

.addModal{
  width:90vw;
  max-width: 90vw;
}

.inputOverview {
  width: 100%;
  height: 120px;
  padding: 12px 20px;
  resize: none;
}

/* @media only screen and (max-width:880px){
  .blogListItem {
    margin:0 10px;
  }
}
@media only screen and (max-width:600px){
  .blogListItem {
    margin:0 5px;
  }
}
@media only screen and (max-width:400px){
  .blogListItem {
    margin:0 2px;
    left:0;
  }
}
@media only screen and (max-width:300px){
  .blogListItem {
    margin:0 0;
  }
} */

@media only screen and (max-width:380px) {
  .blogImage{
      max-height:250px;
      max-width:250px;
  }
  }


@media only screen and (max-width: 600px) and (min-width:381px) {
  .blogImage{
     max-height:305px;
      max-width:305px;
  }
}